* {
margin: 0;
padding: 0;
}

/*--Nav--*/

#nav-bar {
position: sticky;
top: 0;
z-index: 10;
}

.navbar-brand img {
padding: 20px;
}

.navbar-nav li {
padding 0 10px;
}

.navbar-nav li a {
float: right;
text-align: left;
}

#nav-bar ul li a:hover{
color: red!important;
}

.navbar {
background: #fff;
}

.navbar-toggler {
border: none!important;
}

.nav-link {
color: #555!important;
font-weight: 600;
font-size: 16px;
}

/*--Carousel--*/

.carousel-item {
max-height: 550px;
}

/*--About Us--*/

#about-us {
padding-top: 50px;
padding-bottom: 50px;
color: red;
}

h1 {
text-align: center;
color: yellow;
padding-bottom: 10px;
}

h1::after {
content: '';
background: #007bff;
display: block;
hight: 3px;
width: 170px;
margin: 20px auto 5px;
}

.profile-pic
{
margin-top: 25px;
}

.member-pic .img-box {
opacity: 1;
display: block;
position: relative;
}

.member-pic .img-box img {
filter: grayscale(1);
}

.member-pic .img-box img:hover {
filter: grayscale(0);
cursor: pointer;
}

.member-pic h2 {
font size: 22px;
font-weight: bold;
margin-top: 15px;
color: #007bff !important;

}

.member-pic h3 {
font size: 15px;
font-weight: bold;
margin-top: 15px;

}

#team .fa {
height: 25px;
width: 25px;
color: black;
background: #fff;
padding: 4px;
border-radius: 50%;

}

.img-responsive {
max-height: 250px;
}

